.form {
  width: 50%;
  height: 860px;
  position: relative;
  margin-top: 20px;
  border: 1px solid white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 1.2rem;
  color: white;
}

.text-input {
  width: 40%;
}

.date-input-wrapper {
  width: 110%;
}

label {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.select-input-container {
  width: 100%;
}

.select {
  background-color: rgb(255, 0, 93);
  color: white;
  border: none;
  height: 40px;
  font-size: 15px;
}

.select:focus {
  outline: none;
}

.select-gender-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select-gender-options-container {
  width: 120%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.checkbox {
  border-radius: 20px;
}

::file-selector-button {
  background-color: rgb(179, 109, 246);
  height: 30px;
  border: none;
  border-radius: 10px;
}

.separator {
  width: 220%;
  height: 30px;
}

.error {
  text-align: center;
  color: black;
}

.gender-selector-container input {
  position: absolute;
  opacity: 0;
}

.gender-selector-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.gender-selector-container label {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-left: 40px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 17px;
  user-select: none;
}

.gender-selector-container span {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #c9c9c9;
  border-radius: 50%;
}


.gender-selector-container label input:checked~span {
  background-color: #d574ff;
}


.gender-selector-container span:after {
  content: "";
  position: absolute;
  display: none;
}


.gender-selector-container label input:checked~span:after {
  display: block;
}


.gender-selector-container label span:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.submit-button {
  width: 40%;
  height: 35px;
  background-color: wheat;
  border-radius: 20px;
  border: none;
  font-size: 1.2rem;
}

.submit-message {
  width: 100%;
  text-align: center;
  height: 30px;
  font-size: 1.5rem;
}