.page-not-found-container {
  height: 100vh;
  display: flex;
  margin-top: 20px;
  align-items: center;
  flex-direction: column;
  color: white;
}

.go-home-link {
  text-decoration: underline;
  color: white;
}