.header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: white;
}

.header-wrapper {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: rgb(129, 213, 188);
}

.active {
  color: chartreuse;
}